.form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding: 10px;
  width: 230px;
  border: 1px solid black;
}

.title {
  margin-left: 40px;
}

.input {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn {
  width: 150px;
  cursor: pointer;
}

.filterWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.item {
  margin-bottom: 25px;
  margin-left: 40px;
}

.userMenuWrapper {
  position: fixed;
  top: 10px;
  right: 30px;
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: 28px;
  color: rgb(63, 12, 184);
}

.logoutBtn {
  font-weight: 600;
  font-size: 25px;
  color: rgb(63, 12, 184);
  cursor: pointer;
  border-color: rgb(63, 12, 184);
  border-radius: 15px;
  line-height: 0;
}

.navList {
  display: flex;
  gap: 35px;
  list-style: none;
}

.navLink {
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  color: rgb(63, 12, 184);
  font-style: oblique;
}
